<h2>Paris Weather Query</h2>
<p>Press the button below to get weather info about Paris</p>

<button type=button ng-click="getUpdatedWeather()">Get Current Weather</button>
<div ng-if="wxObj.location">
    <table>
        <thead>
            <th>Location</th>
            <th>Local Time</th>
            <th>Temp f/c</th>
            <th>Condition</th>
            <th>humidity</th>
        </thead>
        <tbody>
            <tr>
                <td>{{wxObj.location.name}}</td>
                <td>{{wxObj.location.localtime}}</td>
                <td>{{wxObj.current.temp_f}}F / {{wxObj.current.temp_c}}C</td>
                <td><img ng-src="{{wxObj.current.condition.icon}}">{{wxObj.current.condition.text}}</td>
                <td>{{wxObj.current.humidity}}</td>
            </tr>
        </tbody>
    </table>
</div>